@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(30s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.main_Container {
  width: 765px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  box-shadow: 0px 31px 35px -26px #080c21;
  overflow: hidden;
  position: relative;
}
.widget,
.discreption {
  padding: 25px;
  position: relative;
  border-right: 5px double rgba(0, 0, 0, 0.3);
}
.discreption {
  text-align: justify;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.discreption > h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}
.date {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px 0;
}

.temp {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
.temperature {
  font-size: 110px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
}

.flex {
  display: flex;
  justify-content: center;
}
.tempContainer {
  justify-content: space-between;
  margin-top: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 335px;
}
.tempContainer img {
  width: 32px;
  height: 32px;
  margin: 5px 0;
}
img#cloudImg {
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  width: 120px;
}
#form {
  position: relative;
}
#inputSearch {
  width: 100%;
  font-size: 1em;
  padding: 10px 50px 10px 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #000;
  margin-bottom: 25px;
}
#inputSearch::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#btnImg {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
  display: none;
}
#weatherCondi {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
}
#summery::first-line {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
.cityImg {
  display: flex;
  justify-content: center;
}
img#cityImg {
  height: 100px;
}
.jsCityImg {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .main_Container {
    width: 100%;
    flex-direction: column;
    margin: 0;
    border-radius: unset;
  }
  .widget {
    padding: 60px 20px;
    border-right: none;
    border-bottom: 5px double rgba(0, 0, 0, 0.3);
  }
  .discreption {
    padding: 60px 20px;
  }
  .discreption > h1 {
    padding: 20px;
  }
  img#cityImg {
    height: unset;
  }
  .jsCityImg {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
  }
  .temp {
    width: 100%;
    justify-content: space-around;
  }
  .panel {
    width: 100%;
  }
  .tempContainer {
    width: unset;
  }
}
@media only screen and (max-width: 380px) {
  .tempContainer {
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
  }
  .temp {
    flex-direction: column-reverse;
    align-items: center;
  }
  .date {
    padding: 10px 0;
    text-align: center;
  }
  .discreption > h1 {
    font-size: 1.8em;
    padding: 10px;
  }
}
