@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.widget {
  position: relative;
  width: 355px;
  margin: 100px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  overflow: hidden;
}

.date {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

#city {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.temp {
  font-size: 80px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
}

.flex {
  display: flex;
}

.right-panel {
  position: absolute;
  bottom: 95px;
  left: 185px;
}
.tempContainer {
  justify-content: space-between;
  margin-top: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.tempContainer img {
  width: 32px;
  height: 32px;
  margin: 5px 0;
}
img#cloudImg {
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
}
#form {
  position: relative;
}
#form input {
  width: 100%;
  font-size: 1em;
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #4bd1d1;
  margin-bottom: 25px;
}
#form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
  display: none;
}
